{% extends 'base.html.twig' %}

{% block title %}NewService {% endblock %}

{% block body %}
    <div class="container">
        <div class="col-9 display-flex justify-content-column align-item-center">
                {{form(form)}}
        </div>
    </div>
{% endblock %}
